.nav-img {
    width : 200px;
    height : 200px;
   
}

.btn-round {
    border-radius: 20px;
}

.header-logo {
    width : 120px;
    height: 120px;
   
}

.nav-custom {
    background-color: #E4E4E4;
}