@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900|Quicksand:300,400,500,700');
body {
    font-family: 'Maven Pro', sans-serif;
    color : 203541;
    letter-spacing: 0.9px;
    font-weight: 300;
    color : #606470;
    font-size: 1rem;
    background-color:f9f7f7;
}


h3 , h1 , h2 {
    font-weight: 500;
    letter-spacing: 2px;
    color : #456173;
}
p {
    font-family: 'Quicksand', sans-serif;

}

label {
    font-size: 1rem;
}
 input[placeholder] {
    font-size: 1rem;
    font-family: 'Maven Pro', sans-serif;
    letter-spacing: 0.9px;
}

button {
    font-size: 1rem;
    font-family: 'Maven Pro', sans-serif;
    letter-spacing: 0.9px;
}