.singlepen-headertext {

    letter-spacing: 3px;
}

.singlepen-card {
   
     height : 94vh;  
   
    
  
}

.addtocart {

    display : flex;
    justify-content: flex-start;
    align-content: center;
}

.addtocart li {
    margin-left : 10px;
}

.addtocart2 {

    display : flex;
    justify-content: flex-end
}


.singlepen-bk {
    background: #ee9ca7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}