

.hero {
    /* background-image: url() */
    background-image: url('https://res.cloudinary.com/heliosbots/image/upload/v1525446962/heliosbots/header.jpg');
    background-size: cover;
   
    height: 100vh;
    background-position: center;
    
  
}

.headline {
   margin-top : 100px;
   color : white;
  
   
}

.headline h3 {
    color : white;
    font-size: 80px;
}



.btn-hero {
    margin-top : 30px;
    display: inline-block;
    width : 50%;
    border-radius: 10px;
   

     
           
    
}

@media (max-width: 500px) {
 

    

    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    .headline h3 {
        color : white;
        font-size:40px;
    }
        
    .btn-hero {
        margin-top : 30px;
        display: inline-block;
        width : 80%;
        border-radius: 10px;
    
    
         
               
        
    }



}